59 16 * * *  /home/nccsoft/komutracker/venv/bin/python /home/nccsoft/komutracker/aw-server/misc/report_spent_time.py
30 5 * * *   /home/nccsoft/komutracker/venv/bin/python /home/nccsoft/komutracker/aw-server/misc/reminder_turnon_tracker.py