[Unit]
Description=komutracker service
Documentation=
After=mongodb.service

[Service]
Type=simple
User=nccsoft
PermissionsStartOnly=true
ExecStart=/home/nccsoft/komutracker/venv/bin/python /home/nccsoft/komutracker/aw-server/__main__.py
Restart=always
TimeoutSec=600

[Install]
WantedBy=multi-user.target