[Unit]
Description=komutracker service
Documentation=
After=mongodb.service

[Service]
Type=simple
User=ncc
PermissionsStartOnly=true
ExecStart=/home/ncc/komutracker/venv/bin/python /home/ncc/komutracker/aw-server/wsgi.py
Restart=always
TimeoutSec=600

[Install]
WantedBy=multi-user.target